html {
    height:100%;
    width:100%;
    background-image: url("resources/bg.png");
    color: aliceblue;
    overflow: hidden;
    background-size:cover;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #panny{
    height:150px;
    width: 150px;
    position:relative;
    top:200px;
    left:200px;
    background-image:url("resources/adventurePanny.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

p{
  bottom: 200px;
  position:relative;
  margin-right: 50px;
}

button {
  text-align: center;
  display: inline-block;
  padding: 10px 50px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #434748;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

a:link{
  color: #434748;
  text-decoration: none;
  font-weight: 400;
}
a:visited{
  color:#434748;
  text-decoration: none;
  font-weight: 400;
}

button:hover {
  background-color:#ffc60c;
  color: black;}

button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input{
  color:#434748;
}

#cloud{
    height:100px;
    width: 100px;
    position:relative;
    left:900px;
    bottom:350px;
    background-image:url("resources/cloud.svg");
    background-size:contain;
    background-repeat: no-repeat;
    animation: cloud 8s infinite;
    opacity:50%
}

@keyframes cloud {
  0%{left: 900px;}
  100%{left :-110px;}
}



#cloud2{
  height:100px;
  width: 100px;
  position:relative;
  left:900px;
  bottom:500px;
  background-image:url("resources/cloud.svg");
  background-size:contain;
  background-repeat: no-repeat;
  animation: cloud2 15s infinite;
  opacity:50%
}

@keyframes cloud2 {
  0%{left: 900;}
  100%{left :-110px;}
}

#cloud3{
  height:100px;
  width: 100px;
  position:relative;
  left:900px;
  bottom:400px;
  background-image:url("resources/cloud.svg");
  background-size:contain;
  background-repeat: no-repeat;
  animation: cloud2 40s infinite;
  opacity:50%
}

@keyframes cloud3 {
  0%{left: 900;}
  100%{left :-110px;}
}


h3{
  font-size: 18px;
  margin-left: 30px;
}

h1{
  font-size: 33px;
  margin-left: 30px;
}

h2{
  font-size: 23px;
  margin-left: 30px;
  margin-top: 60px;
}

button{
  margin-left:10px;
}

#convo{
  position: fixed;
  top:400px;
  left:350px;
}

#resources{
  text-align: right;
}