html, body {
    height:100%;
    width:100%;
    background-image: url(resources/bg.png);
    color: aliceblue;
    overflow: hidden;
  }
  .container {
    font-family: Helvetica, Arial, sans-serif;
    height:98%;
    width:98%;
    border-color: #111;
    border-width: 2px;
  }
  
  .container > * {
    background-color: none;
    padding: 20px;
    border-color: #111;
  }
  
  /* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
  .content {
    min-height: 40%;
    overflow-y: scroll;
    margin-right: 20px;
    background-color: none;
    border-radius: 10px;

  }
  
  
  .container > * {
    margin-bottom: 2%;
  }
  
  @media screen and (min-width: 40em) {
    .container > * {
      margin-bottom: 0;
      border-radius: 10px;
     /*border:2px #111 solid;*/
    }
    /* Define the grid */
    .container {
      display:grid;
      grid-template-columns: 35% 25% 40%;
      grid-gap: 2%;
      grid-template-rows: 20%;
    }
    /* Place items on the grid */
    .header {
      grid-column: 1/ span 1;
      margin-right: 30px;
  
    }
  
    }
    .content {
      grid-column: 2;
      grid-row-end: span 5;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
      text-align: right;
      box-shadow: #111;
      justify-content: center  ;
    }
    .sidebar {
      grid-column: 1;
      grid-row-end: span 5;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
      text-align: right;
      box-shadow: #111;
    }

    .right {
      grid-column: 3;
      grid-row-end: span 5;
      color:white;
      font-family:Arial, Helvetica, sans-serif;
      text-align: right;
      box-shadow: #111;
    }
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 180px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: 20px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #e28743;
    color: white;
    border-radius: 5px;
    transform: rotateY(180deg);

  }

  h3{
    font-size: 18px;
    padding-top: 10px;
  }

  h4{
    font-size: 15px;
    font-weight: 400;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    text-align: left;
  }


  h2{
    font-size: 16px;
  }
  #panny{
    position: relative;
    right:100px;
    top:150px;
  }

  p{
    text-align: left;
    padding:10px;
  }

  #credits{
    font-size: 12px;
    opacity:100%;
    line-height: 1.5;
    position:relative;
    top:130px;
  }

.footer{
  margin-top:150px;
  text-align: left;
  padding-right: 100px;
}

button {
  display: inline-block;
  padding: 5px 50px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}
a:link{
  color: #434748;
  text-decoration: none;
}
a:visited{
  color:#434748;
  text-decoration: none;
}

button:hover {
  background-color:#ffc60c }

button:active {
  background-color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#hover{
  padding-left: 40px;
  padding-top: 40px;
}