body{
  background-color: #6fccd7;
  
}

  h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 20px;
  }
  h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
  }

  #instruction{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    position: relative;
    text-align: center;
    top:20px;
  }

  #canvas-container{
    padding-left: 200px;
    padding-top:60px;
    width: 520px;
    height: 350px;

  }

  .envelope {
    top:230px;
    margin-left:750px;
    position: relative;
    cursor: pointer;
  }

  .back {
    position: relative;
    width:450px;
    height: 200px;
    background-color: #a6784c;
  }
  
  .letter {
    position: absolute;
    background-color: #fff;
    width:420px;
    height:290px;
    top:110px;
    left:20px;
    transition: .2s;
  }
  
  /*
  @keyframes letter-animation{
    100%:{top:110px} 
    0%:{top:220px}
  }

  /*
  .letter:before {
    position: absolute;
    content:"";
    background-color: #333;
    width: 180px;
    height: 180px;
    top:375px;
    left:175px;
  }
  
  .letter:after {
    position: absolute;
    content:"";
    width:130px;
    height:130px;
    background-color: #fff;
    top:382px;
    left: 182px;
    box-shadow: 36px 0 #fff, 36px 36px #fff, 0px 36px #fff;
  }
  */
  
  .text {
    font-size: 17px;
    font-family: arial;
    margin:20px;
    line-height: 1.3;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  

  
  .text:before {
    left:108px;
    transform: rotate(-25deg);
  }
  
  .text:after {
    left:118px;
    transform: rotate(25deg);
  }
  
  .front {
    position: absolute;
    border-right: 230px solid #b28962;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent;
    height:0;
    width:0;
    top:0;
    left:220px;
    z-index:3;
  }
  
  .front:before {
    content:"";
    position: absolute;
    border-left: 230px solid #b28962;
    border-top: 200px solid transparent ;
    border-bottom: 200px solid transparent;
    height:0;
    width:0;
    top:-200px;
    left:-220px;
  }
  
  .front:after {
    content:"";
    position: absolute;
    border-bottom: 205px solid  #a6784c;
    border-left: 225px solid transparent;
    border-right:225px solid transparent;
    height:0;
    width:0;
    top:-5px;
    left:-220px;
  }
  
  .top {
    position: absolute;
    border-top: 205px solid  #c19b77;
    border-left: 225px solid transparent;
    border-right:225px solid transparent;
    height:0;
    width:0;
    top:0;
    transform-origin: top;
    transition: .4s;
  }

  .envelope:hover .top {
    transform: rotateX(160deg);
  }
  
  .envelope:hover .letter {
    transform: translateY(-330px);
    z-index:2;
  }

  #panny{
    margin-left:200px;
    margin-bottom: 30px;
    position: relative;
    top:100px;
  }

  #pannyShocked{
    left: 750px;
    position:relative;
    top:-380px;
  }
 
  button {
    display: inline-block;
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    text-align: right;
    text-decoration: none;
    outline: none;
    color:black;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
    font-family:'Trebuchet MS';
    text-decoration: none;
  }
  a:link{
    color: #434748;
    text-decoration: none;
  }
  a:visited{
    color:#434748;
    text-decoration: none;
  }
  
  button:hover {
    background-color:#ffc60c }
  
  button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #graphButton{
    text-align: left;
  }

  #endButton{
    position: relative;
    left:850px;
    top:-50px;
  }

  #diabetesTrend2{
    margin-left: 470px;
    margin-top: -300px;
  }