#score {
    text-align:center;
}


.text-centre{
    text-align: center;
    margin-top: 6px;
}

button{
    border-radius: 6px;
    background-color: aliceblue;
    border-color: aliceblue;
    box-shadow: aliceblue;
    padding: 8px 30px;
}

h1{
    margin-top: 88px;
    text-align:center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align:center;
    font-size: 18px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3{
    text-align:center;
    font-size: 14px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(SVG/biggerbg.png);
    background-size:auto;
}

#game{
    width:800px;
    height:300px;
    border:none;
    margin:auto;
    background-image:url("SVG/bg.png");
    background-size:contain;
    margin-top: -113px;
    margin-left:400px;
}

#danny{
    position: relative;
    top: -60px;
    right:300px;
}
#pancreas{
    height:75px;
    width: 90px;
    position:relative;
    top:200px;
    left:20px;
    background-image:url("SVG/playersvg.svg");
    background-size:cover;
}

#sugar{
    height: 50px;
    width: 50px;
    position: relative;
    top: 150px;
    left: 550px;
    background-image:url("SVG/cube.svg");
    background-size:cover; 
}
